@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: #1A1A1D;
  width: 100vw; 
  height: 100vh;
  color:#950740;
}
h1{
  margin-bottom: 20px;
}
#grid{
  display: inline-grid;
  width: 153px;
  padding:20px;
}

.gridCell{
  font-family: "Permanent Marker", cursive;
  width: 50px;
  height: 50px;
  box-shadow: 0 0 0 1px #333333;
  border: 1px solid #333333;
  cursor: pointer;
  line-height: 25px;
  font-size: 20px;
  background-color: #ADADAD;
}
.gridCell:hover{
  background-color: #557A95;
}
#playersInput{
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}

#symbol-div{
  display: none;
}
#symbols{
  background-color: #0f74817a;
  margin: 20px;
  color:white;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  border-radius: .5em;
  font-family: 'Roboto', sans-serif;
  border: none;
}

#play-button{
  display: none;
  align-self: center;
  /* margin-top: 5px; */
}

#reset-button{
  display:none;
}

#buttons{
  display: flex;
  justify-content: center;
  margin: 20px;
}
#coin{
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}

#toss-result-div{
  color:greenyellow;
  margin: 20px;
}
input{
  margin-bottom: 10px;
  text-align: center;
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 5px 5px 5px;
  font-size:16px;
  color:#fff;
  font-family: 'Roboto', sans-serif;
}
input:focus{ 
  border:none;	
  outline:none;
  border-bottom:1px solid #ff2600;	
 }

button{
  font-family: 'Roboto', sans-serif;
  padding:10px 25px 10px 25px;
  background-color: #ff2600;
  color: whitesmoke;
  border-radius: 4px;
  font-size: 16px;
  border: none;
  cursor:pointer;
}

#player-data{
  display:inline-flex; 
  max-width: 250px;
  color:white;
  flex-wrap: wrap;
  align-self: center;
}

#turn{
  color: aquamarine;
  padding: 10px;
}


